@layer layout {
  body {
    display: grid;

    // grid-template:
    //   'header aside' 5.5rem
    //   'content aside' 1fr
    //   'footer aside' 4rem
    //   / 60vw 40vw;

    grid-template:
      'header' 7rem
      'content' 1fr
      'footer ' 4rem
      / 100vw;

    > header {
      grid-area: header;

      position: sticky;
      top: 0;
      z-index: 1;

      background-color: var(--pix--background-color);
      color: var(--pix--color);
      box-shadow: 0 0 50px -30px rgba(255, 255, 255, 0.35);
    }

    > main {
      grid-area: content;

      display: block;
    }

    > footer {
      grid-area: footer;
    }

    > aside {
      display: none;
    }

    > :where(header, main, footer) {
      padding: var(--pix--block-spacing-vertical) var(--pix--block-spacing-horizontal);

      @media screen and (width >= 576px) {
        --pix--block-spacing-horizontal: calc((100vw - 510px) / 2);
      }

      @media screen and (width >= 768px) {
        --pix--block-spacing-horizontal: calc((100vw - 700px) / 2);
      }

      @media screen and (width >= 1024px) {
        --pix--block-spacing-horizontal: calc((100vw - 950px) / 2);
      }

      @media screen and (width >= 1280px) {
        --pix--block-spacing-horizontal: calc((100vw - 1200px) / 2);
      }

      @media screen and (width >= 1536px) {
        --pix--block-spacing-horizontal: calc((100vw - 1400px) / 2);
      }
    }
  }
}
